*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7C602;
}

.pokemon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    padding: 40px 0;
}

.prev-next-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 20px 0;
}